@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
body {
   font-family: FFDinPro, Arial, Helvetica, sans-serif;
   font-size: .95rem;
}

.page-main {
   position: absolute;
   top: 60px;
   bottom: 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.logo {
   width: 115px;
   height: 37px;
   /* background-image: url(./assets/images/logo.svg); */
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}

.txt-color-1 {
   color: #00add2;
}

.bg-color-1 {
   background-color: #00add2;
}

.txt-color-2 {
   color: #091827;
}

.bg-color-2 {
   background-color: #091827;
}

.txt-color-3 {
   color: maroon;
}

.bg-color-3 {
   background-color: maroon;
}

.txt-color-4 {
   color: #333;
}

.bg-color-4 {
   background-color: #333;
}

.txt-color-5 {
   color: #fff;
}

.bg-color-5 {
   background-color: #fff;
}

.txt-color-6 {
   color: #4c4d4e;
}

.bg-color-6 {
   background-color: #4c4d4e;
}

.txt-color-7 {
   color: #949393;
}

.bg-color-7 {
   background-color: #949393;
}

.txt-color-8 {
   color: #28a745;
}

.bg-color-8 {
   background-color: #28a745;
}

.txt-color-9 {
   color: #e20000;
}

.bg-color-9 {
   background-color: #e20000;
}

.btn-3.light {
   color: #693e3e;
   border: solid 1px #693e3e;
}

.font-size-12 {
   font-size: 12px;
}

.width-20rem {
   width: 20rem;
}

.ct-logo-card {
   width: 100%;
   height: 50px;
}

.bg-images {
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

/* CUSTOM BOOTSTRAP */

.navbar-light .navbar-nav .nav-link {
   color: #00add2;
}

.navbar-light:hover .navbar-nav .nav-link:hover {
   color: #2edafff2;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   color: #fff;
}