<footer class="fs-section-footer bg-color-4">
  <div class="container fs-container-main">
    <div class="row form-group fs-no-margin">
      <div class="col-md-4 ">
        <div class="fs-colum-footer bg-color-6 txt-color-7">
          <div class="fs-footer-title">E-mail:</div>
          <a href="mailto:fernandolucas.2008@hotmail.com?subject=App%20Ações%20Angular" class="fs-link-footer">
            <div class="fs-footer-description">fernandolucas.2008@hotmail.com</div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fs-colum-footer bg-color-6 txt-color-7">
          <div class="fs-footer-title">Portifólio:</div>
          <a href="http://fernando-developer.com" target="_blank" class="fs-link-footer">
            <div class="fs-footer-description">fernando-developer.com</div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fs-colum-footer bg-color-6 txt-color-7">
          <div class="fs-footer-title">GitHub:</div>
          <a href="/" target="_blank" class="fs-link-footer">
            <div class="fs-footer-description">ver código fonte agora.</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>