.section-login {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-image: url(../../../../../assets/images/toro-login.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container-form-login {
   margin: auto;
   max-width: 500px;
   background-color: rgba(255, 255, 255, .85);
   border-radius: 4px;
   padding: 20px 30px 30px 30px;
   height: auto;
}