<section class="section-login">
    <div class="container">
		 <div class="container-form-login">
			 <form>
				<h4 class="text-center mb-2 txt-color-2">ACESSAR</h4>
				<div class="form-group">
					<label for="exampleInputEmail1">E-mail:</label>
					<input type="email" class="form-control">
					<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Senha</label>
					<input type="password" class="form-control">
				</div>
				<button type="submit" class="btn btn-primary btn-block">ENTRAR</button>
			</form>

		</div>
    </div>
</section>
