<nav class="navbar navbar-expand-lg navbar-light bg-color-2 ">
  <div class="container">
    <a class="navbar-brand logo" [routerLink]="['/']"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['acoes/tempo-real']">Ações</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
